<div class="user-profile-container mat-elevation-z8">

  <!-- User Profile -->
  <mat-card>
    <mat-card-header>
      <mat-card-title>User Profile</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form>
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input matInput [(ngModel)]="formUserData.username" name="username" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput [(ngModel)]="formUserData.email" name="email" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Birth Date</mat-label>
          <input matInput [(ngModel)]="formUserData.birthDate" name="birthDate" type="date" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput [(ngModel)]="formUserData.password" name="password" type="password" />
        </mat-form-field>
        <div class="button-group">
          <button mat-raised-button color="primary" (click)="updateUser()">Update Profile</button>
          <button mat-raised-button color="warn" (click)="deleteUser()">Delete Profile</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>

  <!-- Favorite Movies -->
  <div style="display: flex; flex-wrap: wrap;">
    <mat-card *ngFor="let movie of favoriteMovie;" style="flex: 1 1 auto; max-width: 300px; max-height: 400px;">
        <mat-card-header>
        <mat-card-title>{{movie.Title}}</mat-card-title>
            <mat-card-subtitle>Directed by: {{movie.Director.Name}}</mat-card-subtitle>
        </mat-card-header>
        <img src={{movie.ImagePath}} alt= {{movie.Title}} />
        <mat-card-actions>
            <button
                mat-button
                color="primary"
                (click)="openGenreDialog(movie)"
            >
                Genre
            </button>
            <button
                mat-button
                color="primary"
                (click)="openDirectorDialog(movie)"
            >
                Director
            </button>
            <button
                mat-button
                color="primary"
                (click)="openSynopsisDialog(movie)"
            >
                Synopsis
            </button>
            <button mat-button (click)="toggleFavorite(movie)">
              <mat-icon *ngIf="isFavorite(movie)" style="transform: scale(1.5)">
                  favorite
              </mat-icon>
              <mat-icon *ngIf="!isFavorite(movie)" style="transform: scale(1.5)">
                  favorite_border
              </mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
  </div>
</div>

